html,
body {
  background-color: rgb(31, 31, 35);
  justify-content: center;
  color: rgb(203, 203, 203);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
}

#Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  width: 85%;
  max-width: 900px;
  h1 {
    text-align: center;
    margin: 40px;
  }
  h2 {
    color: rgb(226, 215, 158);
  }
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  a {
    color: rgb(230, 224, 152);
    :visited {
      color: rgb(194, 189, 127);
    }
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  li {
    font-size: 1.1rem;
    margin: 5px 0px;
  }
  .spacer {
    height: 30px;
  }
}

#navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  height: 70px;
  #home-link {
    all: unset;
    padding-left: 4%;
    :hover {
      transform: scale(1.1);
    }
    #nav-left {
      cursor: pointer;
      transition: transform 300ms;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: x-large;
      font-weight: 400;
      // padding-left: 4%;
      #pgh {
        padding-right: 7px;
        color: rgb(230, 214, 0);
      }
      #cnc {
        padding: 0px 7px 0px 7px;
        font-weight: 600;
        background-color: rgb(230, 214, 0);
        height: 100%;
        display: inline-flex;
        align-items: center;

        color: black;
      }
    }
  }
  #nav-right {
    padding: 0px 4% 0px 0px;
    font-size: large;
    a {
      margin: 20px;
      cursor: pointer;
      color: white;
    }
  }
}

#filters-band {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(18, 18, 18);
  margin-bottom: 15px;
  &.hotdog {
    padding: 15px 0px;
  }

  #toggle-missing-container {
    display: flex;
    justify-content: center;
    width: 200px;
    font-size: larger;
    #toggle-missing {
      display: none;
    }
    .spacer {
      color: gray;
      margin: 0px 15px;
    }
    label {
      cursor: pointer;
      color: rgb(255, 255, 255, 0.3);
      transition: text-shadow 0.5s ease, color 0.3s ease;
    }
    .missing-label.selected {
      color: rgb(235, 99, 99);
      text-shadow: 0 0 8px rgb(73, 73, 73), 0 0 10px rgb(235, 99, 99);
    }
    .found-label.selected {
      color: rgb(97, 226, 97);
      text-shadow: 0 0 8px rgb(91, 91, 91), 0 0 10px rgb(97, 226, 97);
    }
  }
  #previous-warning-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: large;
    .warn {
      font-size: larger;
      color: rgb(246, 157, 157);
      margin-right: 10px;
    }
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  #clear-filters-button {
    background-color: transparent;
    margin: 10px 0px;
    padding: 10px 0px;
    width: 250px;
    height: 35px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    color: gray;
    border: 1px solid gray;
    &.active {
      color: rgb(235, 167, 167);
      border: 1px solid rgb(235, 167, 167);
    }
  }
  #filters-container {
    display: grid;
    grid-template-columns: repeat(7, 150px);
    row-gap: 15px;
    column-gap: 10px;
    padding: 10px;
  }
}

.filter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  // background-color: rgb(0, 0, 0);
  label {
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    color: gray;
    border: 1px solid gray;
    border-radius: 7px;
    cursor: pointer;
  }
  input {
    display: none;
    &:checked + label {
      color: rgb(230, 214, 0);
      border: 1px solid rgb(230, 214, 0);
    }
  }
}

#countainer {
  .ready {
    a {
      all: unset;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    animation: blinker 2s ease-in-out infinite;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.bouncy {
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
}

#result-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  * {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    // align-items: center;
    margin: 0px 0px 3px 0px;
  }
  margin: 15px 0px 20px 0px;
  font-size: large;
  // font-weight: ;
  color: rgb(203, 203, 203);
}

#cards-container {
  display: grid;
  // width: 1100px;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  width: min-content;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  .card-img {
    width: 100%;
    height: 210px;
    position: relative;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      &.default {
        position: relative;
        object-fit: fill;
        margin: 10% 0 0 10%;
        width: 80%;
        height: 80%;
      }
    }
    .count {
      width: 100%;
      position: absolute;
      bottom: 0px;
      padding: 5px 0px 5px 3px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .summary-label {
    // height: 50px;
    align-self: flex-start;
    padding: 10px 5px 25px 5px;
    .common-name {
      font-weight: 700;
      text-transform: capitalize;
      a {
        all: unset;
        cursor: pointer;
      }
    }
    .scientific-name {
      font-weight: 400;
      font-style: italic;
    }
  }
}

#loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  .hamster {
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: 0 90%;
  }
  .loading-text {
    margin: 20px;
  }
}

.filterButton {
  &:hover {
    background-color: rgb(255, 255, 255, 0.1) !important;
  }
  &:active {
    transform: scale(0.95, 0.95);
  }
  transition: background-color 300ms, transform 30ms;
}

.hidden {
  visibility: hidden;
}

.modal-background ~ div {
  filter: blur(7px);
}

@keyframes radial-circlepath {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes radial-button {
  0% {
    background-position: 0% 0%;
    // background-position: 100% 0%;
  }
  50% {
    background-position: 5% 5%;
    // background-position: 0% 0%;
  }
  100% {
    background-position: 0% 0%;
    // background-position: 100% 0%;
  }
}
.filter-item {
  label {
    &:hover {
      box-sizing: border-box;
      background: radial-gradient(
        rgb(94, 94, 94),
        rgb(0, 0, 0, 0.3),
        rgb(0, 0, 0, 0.3),
        rgb(0, 0, 0, 0.3),
        rgb(105, 105, 105)
      );
      background-size: 200% 200%;
      animation: radial-button 3s ease-in-out infinite;
    }
  }
  input:checked + label {
    &:hover {
      box-sizing: border-box;
      background: radial-gradient(
        rgb(106, 96, 65),
        rgb(0, 0, 0, 0.3),
        rgb(0, 0, 0, 0.3),
        rgb(0, 0, 0, 0.3),
        rgb(106, 96, 65)
      );
      background-size: 200% 200%;
      animation: radial-button 3s ease-in-out infinite;
    }
  }
}

.modal-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  .modal-card-outline {
    animation: fadeIn 0.3s ease-out;
    opacity: 0;
    opacity: 1;
    // min-height: 400px;
    // min-width: 400px;
    // border: 1px solid red;
    box-sizing: border-box;
    background: radial-gradient(
      rgb(145, 145, 145),
      rgb(0, 0, 0, 0.3),
      rgb(0, 0, 0, 0.3),
      rgb(163, 163, 163)
    );
    background-size: 200% 200%;
    background-position: 100% 100%;

    margin: 24px;

    padding: 1px;
    border-radius: 15px;

    .modal-card {
      min-height: 50px;
      max-height: 100vh;
      box-shadow: rgba(0, 0, 0, 0.7) 0px 120px 120px 4px;
      display: flex;
      // display: none;
      flex-direction: column;
      z-index: 3;
      align-items: center;
      border-radius: 15px;
      // margin: 20px;
      padding: 0px 15px;
      background-color: rgb(44, 44, 44);
      position: relative;
      .modal-close {
        font-size: x-large;
        position: absolute;
        top: 5px;
        right: 15px;
        cursor: pointer;
      }

      .modal-title {
        width: 90%; // to keep
        // height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: x-large;
        margin: 5px 0px;
        .modal-common-name {
          text-wrap: balance;
          text-align: center;
          font-weight: 700;
          text-transform: capitalize;
          a {
            all: unset;
            cursor: pointer;
          }
        }
        .empty {
          width: 50px;
        }
      }
      .modal-body {
        &.alert {
          margin: 20px 20px 40px 20px;
          // min-width: 300px;
          max-width: 360px;
        }
        .modal-card-img {
          // width: 150%;
          // position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px 0px;
          border: 10px solid rgb(210, 210, 210);
          max-height: 70vh;
          img {
            max-width: 100%;
            max-height: 70vh;
            // max-width: 100%;
            // margin: 20px;
            // width: 100%;
            object-fit: cover;

            &.default {
              position: relative;
              object-fit: fill;
              // margin: 10% 0 0 10%;
              width: 80%;
              height: 80%;
            }
          }
        }
        .modal-summary-label {
          // height: 50px;
          align-self: flex-start;
          padding: 0px 5px 25px 5px;
          div a {
            all: unset;
            cursor: pointer;
            color: rgb(230, 224, 152);
            &:hover {
              text-decoration: underline;
            }
          }
          .modal-count {
            display: flex;
            flex-direction: column;
          }
          .modal-scientific-name {
            font-weight: 400;
            font-style: italic;
            margin-bottom: 7px;
          }
        }
      }
    }
  }
}

.found {
  color: rgb(97, 239, 97);
}
.missing {
  font-size: 2.2rem;
  color: rgb(242, 102, 102);
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  #search-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: rgb(18, 18, 18);
    #searchbar {
      background-color: rgb(22, 22, 22);
      font-size: larger;
      color: white;
      margin-top: 40px;
      padding: 10px;
      border-color: gray;
      border-radius: 7px;
      width: 280px;
    }
    #search-key {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 300px;
      font-size: large;
      margin: 10px 0px 10px 0px;
      height: 50px;
      span {
        display: flex;
        align-items: center;
        height: 50px;
        span {
          padding-left: 10px;
        }
        & > .missing {
          padding-bottom: 5px;
          font-size: 2.1rem;
        }
      }
    }
  }
  #search-results {
    width: 70vw;
    .record {
      width: 100%;
      display: flex;
      justify-content: space-between;
      // margin: 15px 0px;
      padding: 15px 0px;
      border-bottom: 3px solid rgb(22, 22, 22);
      transition: background-color 0.2s ease;
      &:hover {
        background-color: rgb(57, 57, 57);
      }
      .record-left {
        display: flex;
        .record-thumb {
          height: 120px;
          width: 120px;
          padding: 0px 10px;
          img {
            height: 120px;
            width: 120px;
            object-fit: cover;
            &.default {
              position: relative;
              object-fit: fill;
              // margin: 10% 0 0 10%;
              width: 80%;
              height: 80%;
            }
          }
        }
        .names .common-name {
          text-transform: capitalize;
        }
      }
      .status {
        display: flex;
        align-items: center;
        justify-self: flex-end;
        font-size: xx-large;
        margin: 0px 10px;
      }
    }
  }
}

#FourOFour {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  h1 {
    font-size: 6em;
    padding: 0px;
    margin: 10px;
  }
}

// @keyframes dots {
//   from {
//     opacity: 1;
//     font-size: xx-large;
//   }
//   50% {
//     opacity: 0;
//     font-size: large;
//   }
//   to {
//     opacity: 1;
//     font-size: xx-large;
//   }
// }

// .dots {
//   font-size: large;
//   animation: dots 1.5s ease-in-out infinite;
// }
// .dot1 {
//   animation-delay: 0s;
// }
// .dot2 {
//   animation-delay: 500ms;
// }
// .dot3 {
//   animation-delay: 1000ms;
// }
// .dot4 {
//   visibility: hidden;
//   font-size: xx-large;
// }

@media only screen and (max-width: 1200px) {
  #filters-band {
    #filters-container {
      grid-template-columns: repeat(6, 150px);
    }
  }
  #cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1020px) {
  #filters-band {
    #filters-container {
      grid-template-columns: repeat(4, 150px);
    }
  }
  #cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  #filters-band {
    #filters-container {
      grid-template-columns: repeat(3, 150px);
    }
  }
  .card {
    width: 175px;
    .card-img {
      height: 175px;
    }
  }
  #search-container {
    width: 95vw;
    #search-results {
      width: 95vw;
    }
  }
}
@media only screen and (max-width: 600px) {
  #search-container {
    // #search-top {
    #search-results {
      .record {
        .record-left {
          .record-thumb {
            height: 70px;
            width: 70px;
            img {
              height: 70px;
              width: 70px;
            }
          }
        }
      }
    }
    // }
  }
  #cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 560px) {
  #filters-band {
    #filters-container {
      grid-template-columns: repeat(2, 150px);
    }
  }
}

@media only screen and (max-width: 380px) {
  #result-summary span {
    font-size: medium;
  }
  #cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 150px;
    .card-img {
      height: 150px;
    }
  }
  #navbar #home-link #nav-left {
    font-size: larger;
  }
  #navbar #nav-right a {
    margin: 20px 10px;
    font-size: medium;
  }
}

@media only screen and (max-width: 340px) {
  #filters-band {
    #filters-container {
      grid-template-columns: repeat(1, 150px);
    }
  }
  #cards-container {
    grid-template-columns: repeat(2, 1fr);
    //   grid-template-columns: repeat(1, 1fr);
    // }
    .card {
      width: 130px;
      .card-img {
        height: 130px;
      }
    }
  }
}

@media only screen and (max-width: 325px) {
  #cards-container {
    grid-template-columns: repeat(1, 1fr);
    //   grid-template-columns: repeat(1, 1fr);
    // }
    .card {
      width: 190px;
      .card-img {
        height: 190px;
      }
    }
  }
  #navbar #home-link #nav-left {
    font-size: large;
  }
  #navbar #nav-right a {
    margin: 20px 10px;
  }
}

// * {
//   border: 1px solid rgb(110, 0, 0) !important;
// }
