body {
  background-color: rgb(31, 31, 35);
  justify-content: center;
  color: rgb(203, 203, 203);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
}

#Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about {
  width: 85%;
  max-width: 900px;
  h1 {
    text-align: center;
    margin: 40px;
  }
  h2 {
    color: rgb(222, 203, 116);
  }
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }
  a {
    color: rgb(230, 224, 152);
    :visited {
      color: rgb(194, 189, 127);
    }
  }
  li {
    font-size: 1.1rem;
    margin: 5px 0px;
  }
  .spacer {
    height: 30px;
  }
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  height: 70px;
  #home-link {
    all: unset;
    padding-left: 4%;
    :hover {
      transform: scale(1.1);
    }
    #nav-left {
      cursor: pointer;
      transition: transform 300ms;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: x-large;
      font-weight: 400;
      // padding-left: 4%;
      #pgh {
        padding-right: 7px;
        color: rgb(230, 214, 0);
      }
      #cnc {
        padding: 0px 7px 0px 7px;
        font-weight: 600;
        background-color: rgb(230, 214, 0);
        height: 100%;
        display: inline-flex;
        align-items: center;

        color: black;
      }
    }
  }
  #nav-right {
    padding: 0px 4% 0px 0px;
    font-size: large;
    a {
      all: unset;
      margin: 20px;
      cursor: pointer;
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#filters-band {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(18, 18, 18);
  margin-bottom: 15px;
  &.hotdog {
    padding: 15px 0px;
  }
  #clear-filters-button {
    background-color: transparent;
    margin: 10px 0px;
    padding: 10px 0px;
    width: 250px;
    height: 35px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    color: gray;
    border: 1px solid gray;
    &.active {
      color: rgb(235, 167, 167);
      border: 1px solid rgb(235, 167, 167);
    }
  }
  #filters-container {
    display: grid;
    grid-template-columns: repeat(7, 150px);
    row-gap: 15px;
    column-gap: 10px;
    padding: 10px;
  }
}

.filter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  // background-color: rgb(0, 0, 0);
  label {
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    color: gray;
    border: 1px solid gray;
    border-radius: 7px;
    cursor: pointer;
  }
  input {
    display: none;
    &:checked + label {
      color: rgb(230, 214, 0);
      border: 1px solid rgb(230, 214, 0);
    }
  }
}

#countainer {
  .ready {
    a {
      all: unset;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    animation: blinker 2s ease-in-out infinite;
  }
  .pending {
  }
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.bouncy {
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
}

#result-summary {
  margin: 10px 0px 20px 0px;
  font-size: large;
  // font-weight: ;
  color: rgb(203, 203, 203);
}

#cards-container {
  display: grid;
  // width: 1100px;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  width: min-content;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;

  .card-img {
    width: 100%;
    height: 210px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .count {
      width: 100%;
      position: absolute;
      bottom: 0px;
      padding: 5px 0px 5px 3px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      a {
        all: unset;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .summary-label {
    // height: 50px;
    align-self: flex-start;
    padding: 10px 5px 25px 5px;
    .common-name {
      font-weight: 700;
      text-transform: capitalize;
      a {
        all: unset;
        cursor: pointer;
      }
    }
    .scientific-name {
      font-weight: 400;
      font-style: italic;
      text-transform: capitalize;
    }
  }
}

#loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  .hamster {
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: 0 90%;
  }
  .loading-text {
    margin: 20px;
  }
}

// @keyframes dots {
//   from {
//     opacity: 1;
//     font-size: xx-large;
//   }
//   50% {
//     opacity: 0;
//     font-size: large;
//   }
//   to {
//     opacity: 1;
//     font-size: xx-large;
//   }
// }

// .dots {
//   font-size: large;
//   animation: dots 1.5s ease-in-out infinite;
// }
// .dot1 {
//   animation-delay: 0s;
// }
// .dot2 {
//   animation-delay: 500ms;
// }
// .dot3 {
//   animation-delay: 1000ms;
// }
// .dot4 {
//   visibility: hidden;
//   font-size: xx-large;
// }

@media only screen and (max-width: 1200px) {
  #filters-band {
    #filters-container {
      grid-template-columns: repeat(6, 150px);
    }
  }
  #cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1020px) {
  #filters-band {
    #filters-container {
      grid-template-columns: repeat(4, 150px);
    }
  }
  #cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  #filters-band {
    #filters-container {
      grid-template-columns: repeat(3, 150px);
    }
  }
  .card {
    width: 175px;
    .card-img {
      height: 175px;
    }
  }
}
@media only screen and (max-width: 600px) {
  #cards-container {
    // width: 570px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 560px) {
  #filters-band {
    #filters-container {
      grid-template-columns: repeat(2, 150px);
    }
  }
}

@media only screen and (max-width: 380px) {
  #cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    width: 150px;
    .card-img {
      height: 150px;
    }
  }
}

@media only screen and (max-width: 340px) {
  #filters-band {
    #filters-container {
      grid-template-columns: repeat(1, 150px);
    }
  }
  #cards-container {
    grid-template-columns: repeat(2, 1fr);
    //   grid-template-columns: repeat(1, 1fr);
    // }
    .card {
      width: 130px;
      .card-img {
        height: 130px;
      }
    }
  }
}

@media only screen and (max-width: 325px) {
  #cards-container {
    grid-template-columns: repeat(1, 1fr);
    //   grid-template-columns: repeat(1, 1fr);
    // }
    .card {
      width: 190px;
      .card-img {
        height: 190px;
      }
    }
  }
}

// @media only screen and (max-width: 600px) {
//   #cards-container {
//     width: 380px;
//     grid-template-columns: repeat(2, 1fr);
//   }
//   // .card {
//   //   img {
//   //     width: 175px;
//   //     height: 175px;
//   //     object-fit: cover;
//   //   }
//   // }
// }

// #navbar {
//   position: absolute;
//   left: 0;
//   top: 0;
//   display: flex;
//   background-color: black;
//   justify-content: flex-start;
//   align-items: center;
//   height: 70px;
//   width: 100%;
//   font-size: x-large;
//   font-weight: 400;
//   #pgh {
//     width: 50%;
//     text-align: right;
//     padding: 0px 7px 0px 40px;
//     color: rgb(230, 214, 0);
//   }
//   #cnc {
//     width: 50%;
//     padding: 0px 7px 0px 7px;
//     font-weight: 600;
//     background-color: yellow;
//     height: 100%;
//     display: inline-flex;
//     align-items: center;

//     color: black;
//   }
// }

.filterButton {
  &:hover {
    background-color: rgb(255, 255, 255, 0.1) !important;
  }
  &:active {
    transform: scale(0.95, 0.95);
  }
  transition: background-color 300ms, transform 30ms;
}
.hidden {
  visibility: hidden;
}

// * {
//   border: 1px solid rgb(110, 0, 0) !important;
// }
