body {
  background-color: rgb(31, 31, 35);
  display: flex;
  justify-content: center;
  color: rgb(203, 203, 203);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
}

#Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cards-container {
  display: grid;
  // width: 1100px;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  width: min-content;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;

  .card-img {
    width: 100%;
    height: 210px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .count {
      width: 100%;
      position: absolute;
      bottom: 0px;
      padding: 5px 0px 5px 3px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      a {
        all: unset;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .summary-label {
    // height: 50px;
    align-self: flex-start;
    padding: 10px 5px 25px 5px;
    .common-name {
      font-weight: 700;
      text-transform: capitalize;
      a {
        all: unset;
        cursor: pointer;
      }
    }
    .scientific-name {
      font-weight: 400;
      font-style: italic;
      text-transform: capitalize;
    }
  }
}

@media only screen and (max-width: 1200px) {
  #cards-container {
    // width: 900px;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 1000px) {
  #cards-container {
    // width: 570px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 750px) {
  .card {
    width: 175px;
    .card-img {
      height: 175px;
    }
  }
}
@media only screen and (max-width: 600px) {
  #cards-container {
    // width: 570px;
    grid-template-columns: repeat(2, 1fr);
  }
}

// @media only screen and (max-width: 600px) {
//   #cards-container {
//     width: 380px;
//     grid-template-columns: repeat(2, 1fr);
//   }
//   // .card {
//   //   img {
//   //     width: 175px;
//   //     height: 175px;
//   //     object-fit: cover;
//   //   }
//   // }
// }
